.client {
    background-color: $color-apricot;
}

.client__header {
    color: $color-black;
    @extend %header;
}

.client__list {

}

.client__image {
    border: 0.1rem solid $color-olive;
    width: 200px;
    height: 200px;
    display: inline;
    padding: 1rem 1ren;
}