.client {
    background-color: $color-apricot_peach;
}

.client__header {
    color: $color-merlot;
    @extend %header;
}

.client__list {

}

.client__image {
    border: 0.1rem solid $color-merlot;
    width: 200px;
    height: 200px;
    // display: inline;
    padding: 1rem 1ren;
}