-
    var header = '#recent clients'
    var clientList = [
        "/asset/image/client/BRD.png",
        "/asset/image/client/baneasa.png",
        "/asset/image/client/kaufland.png",
        "/asset/image/client/ASE.png",
        "/asset/image/client/roehampton.png",
    ];

#client
.client
    .client__header=header
    .client__list
        each client in clientList
            .client__image
                img(src=client, alt="clients")