@import "../config/colour.scss";
@import "../config/common.scss";

.client {
    background-color: $color-apricot;
}

.client__header {
    color: $color-black;
    @extend %header;
}

.client__list {
    display: flex;
    flex-wrap: wrap;
}

.client__image {
    // border: 0.1rem solid $color-olive;
    width: 200px;
    height: 200px;
    display: inline-block;
    padding: 1rem 1rem;
    // transform: scale(200px, 200px);
    // transform: rotate(90)
}