$color-white: #fff;
$color-black: #000;
$color-merlot: #831923;
$color-apricot: #EB9373;
$color-olive:#808000;
$color-twilight: #e3ceda;
$color-apricot_peach: #FBCEB1;

$color-pelorous: #42bcbd;
$color-charm: #d76d93;
$color-affair: #7e4b83;
$color-confetti: #eacb5f;
