doctype html
html
  block cool-config
  head
    title=myTitleForGoogleSearch
    meta(name="description", content=myDescriptionForGoogleSearch)
    link(rel="stylesheet", href=`${baseUrl}/style.css`)

    if config.entry.css.embed
      link(rel="stylesheet" href=`${embedPath}` inline)
  body
    block awesome-content
