-
    var menuList =[
        {
            label: ' home',
            icon: 'home3',
            link: '#landing-page',
        },
        {
            label: ' about me',
            icon: 'wink2',
            link: '#about-me',
        },
        {
            label: ' awards',
            icon: 'glass2',
            link: '#award',
        },
        {
            label: 'what I can do',
            icon: 'list2',
            link: '#what-can-i-do',
        },
        {
            label: 'experience',
            icon: 'power',
            link: '#experience',
        },
        {
            label: 'clients',
            icon: 'briefcase',
            link: '#client',
        },
    ]

#menu
a.menu__go-to(href="#menu")
    span.my-cv__icon--menu
.menu
    .menu__list
        each menu in menuList
            a.menu__link(href=menu.link)
                span(class=`my-cv__icon--${menu.icon}`)
                span.menu__label=menu.label
